/ Cover
= render "proposals/pdf/cover"

/ Letter
= render "proposals/pdf/letter", :page => 2

/ Proposal
= render "proposals/pdf/proposal", :page => 3

/ Addendums Index
= render "proposals/pdf/addendums", :page => 4

/ Terms and Conditions
/ = render "proposals/pdf/terms"
